@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "./variables/variables";
@import "./components/sideBar";
@import "./components/home";
@import "./components/about";
@import "./components/projects";
@import "./components/contact";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: #fefefe;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;

}
  
h1,
h2 {
    font-weight: bold;
    line-height: 1.2;
}
  
p {
    margin: 0;
}
  
img {
    width: 100%;
}


.main-content {
    padding-left: 270px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

// Switcher

.switch {
    margin-left: 90%;
}

.switch > div > div {
    transition-duration: 350ms;
}

.switch label {
    margin: 10px;
    font-size: 25px;
    color: white;
}

#dark .active {
    color: $orange-skin-color !important;
}

#light .active {
    color: $skin-color;
}








